.sidebar.col-md-3
  div
    label.sr-only(for='searchbox') Search
    input#searchbox.form-control(type='text', placeholder='Search …')
    span.glyphicon.glyphicon-search.search-icon
  br
  //- .well
  //-   fieldset#rating_criteria
  //-     legend Rating
  //-     span#rating_range_label.slider-label 8 - 10
  //-     #rating_slider.slider
  //-     input#rating_filter(type='hidden', value='8-10')
  .well
    fieldset#activity_criteria
      legend Activity
  .well
    fieldset#framework_criteria
      legend Framework categories
  .well
    fieldset#context_criteria
      legend Context
  .well
    fieldset#tool_criteria
      legend Tool needed
  //- .well
  //-   fieldset#runtime_criteria
  //-     legend Runtime
  //-     span#runtime_range_label.slider-label 50 mins - 250 mins
  //-     #runtime_slider.slider
  //-     input#runtime_filter(type='hidden', value='50-250')
  //- .well
  //-   fieldset#year_criteria
  //-     legend Year
  //-     select#year_filter.form-control
  //-       option(value='all') All (1920 - 2020)
  //-       option(value='1920-1930') 1920 - 1930
  //-       option(value='1931-1940') 1931 - 1940
  //-       option(value='1941-1950') 1941 - 1950
  //-       option(value='1951-1960') 1951 - 1960
  //-       option(value='1961-1970') 1961 - 1970
  //-       option(value='1971-1980') 1971 - 1980
  //-       option(value='1981-1990') 1981 - 1990
  //-       option(value='1991-2000') 1991 - 2000
  //-       option(value='2001-2010') 2001 - 2010
  //-       option(value='2011-2020') 2011 - 2020

.col-md-9
  #results.movies.content.row  
  
script#result-template(type='text/html').
  <div class="col-md-4 movie" data-activity='<%= JSON.stringify({name: name, description: description, tasks: tasks, duration: duration}) %>'>
    <div class="thumbnail">
      <button class="label label-success rating add-to-cart">
        <span>Add 
          <i class="glyphicon glyphicon-plus"></i>
        </span>
        <svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
        	<path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
        </svg>
      </button>
      <div class="caption">
        <h4><%= _fid %>. <%= name %></h4>
        <div class="detail">
          <%= description %>
          <span class="runtime">
            <i class="glyphicon glyphicon-time"></i>
            <!-- // Calculate time interval from variations and defaults to task and then activity explicit duration. -->
            <%= Object.keys(tasks).reduce(function(sum, task) { var varDurations = Object.keys(tasks[task].variations || {}).map(function(variation) { return tasks[task].variations[variation].duration }); return [(varDurations.length !== 0 ? Math.min(...varDurations) : tasks[task].duration ) < sum[0] ? (varDurations.length !== 0 ? Math.min(...varDurations) : tasks[task].duration ) : sum[0], (varDurations.length !== 0 ? Math.max(...varDurations) : tasks[task].duration ) > sum[1] ? (varDurations.length !== 0 ? Math.max(...varDurations) : tasks[task].duration ) + sum[1] : sum[1]] },[9999,0]).join(' ~ ') || duration || "?" %> hours.
          </span>
        </div>
        <div class="outline">
          <strong>Tasks</strong>
          <% _.each(tasks, function(item,key) { %>
            <dl>
              <dt><%= item.name %></dt>
              <dd><%= item.description %></dd>
            </dl>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
