#cd-shadow-layer
#cd-cart
  ul.cd-cart-items
    li
      span.cd-qty 1x
      |  Product Name
      .cd-price $9.99
      a.cd-item-remove.cd-img-replace(href='#0') Remove
    li
      span.cd-qty 2x
      |  Product Name
      .cd-price $19.98
      a.cd-item-remove.cd-img-replace(href='#0') Remove
    li
      span.cd-qty 1x
      |  Product Name
      .cd-price $9.99
      a.cd-item-remove.cd-img-replace(href='#0') Remove
  // cd-cart-items
  .cd-cart-total
    p
      | Duration 
      span 10 hours
  // cd-cart-total
  a.checkout-btn(href='#0') Export
